html {
  background-color: #ebe6e4;
}

.post {
  background-color: #8792a1;
  align-content: center;
  border-radius: 8px;
  position: relative;
  width: 50%;
  text-align: center;
  top: 20px;
  left: 25%;
  right: 25%;
  box-shadow: -2px 2px 15px;
}

img {
  height: 350px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-top: 20px;
  border-radius: 4px;
}

p {
  margin-left: 15px;
  margin-right: 15px;
}

.fa-2x {
  margin-left: 20px;
}

svg {
  position: absolute;
  bottom: 15px;
}

.like,
.unLike {
  position: absolute;
  font-size: large;
  color: #dce62e;
}

.unLike {
  left: 120px;
  bottom: 15px;
}

.like {
  left: 56px;
  bottom: 15px;
}
